@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="display 4"><b>Welcome to Our Shop</b> </h1>
    <p class="lead">
        <b>
            Please select create a new account if you would like to receive points towards your purchase.
            <br> In a rush? Just click Guest to start your order!
        </b>
    </p>
    <p><a href="http://localhost:53464/Customers/Create" class="btn btn-primary btn-lg">Guest &raquo;</a></p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Log In &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <a href="~/Views/Home/Index.cshtml">~/Views/Home/Index.cshtml</a>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
<!--CONRAD ADDED THIS LINE FOR THE KEYPAD RIGHT HERE-->
<div id="PINcode"></div>
<!--CONRAD ADDED THIS LINE FOR THE KEYPAD RIGHT HERE-->


<div class="device">
    <div class="device-bezel">
        <div class="device-viewport">
            <!-- Begin custom content -->
            <div class="content">
                <img src="https://images.pexels.com/photos/373912/pexels-photo-373912.jpeg?auto=compress&cs=tinysrgb&dpr=1&h=426&w=640" />
                <div class="body-content">
                    <h1>Hey! you made it</h1>
                    <h3>It's good to see you!</h3>
                    <p>I just need some filler so this looks good. So I am going to add this paragraph and a button below it!</p>
                    <button id="reset-button">Reset!</button>

                </div>
            </div>
            <!-- end custom content -->
        </div>
    </div>
</div>



